@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@800&display=swap");

.alert-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  margin: 0px auto;
  padding: 0px auto;
  left: 0;
  top: 0;
  overflow: hidden;
  position: fixed;
  background: rgb(0, 0, 0, 0.3);
}

@keyframes open-frame {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

.alert-frame {
  background: #fff;
  min-height: 400px;
  width: 300px;
  box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.2);
  border-radius: 10px;
  animation-name: open-frame;
  animation-duration: 0.3s;
  animation-timing-function: ease-in;
}

.alert-header {
  display: flex;
  flex-direction: row;
  height: 175px;
  align-items: flex-start;
  justify-content: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.alert-img {
  height: 80px;
  position: absolute;
  align-self: center;
}

.alert-close {
  width: 30px;
  height: 30px;
  color: rgb(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 17.5px;
  font-family: "Dosis", sans-serif;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  line-height: 30px;
  transition: color 0.5s;
  margin-left: auto;
  margin-right: 5px;
  margin-top: 5px;
}

.alert-close:hover {
  color: rgb(0, 0, 0, 0.5);
}

.alert-body {
  padding: 30px 60px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.alert-title {
  font-size: 18px !important;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 15px;
  margin-bottom: 35px;
  color: #222;
}

.alert-message {
  font-size: 15px !important;
  color: #666;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
  text-align: center;
  margin-bottom: 35px;
  line-height: 1.6;
}

.alert-button {
  width: 140px;
  margin-bottom: -2px !important;
  min-height: 35px;
  border-radius: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: white;
  border: none;
  cursor: pointer;
  padding: 0;
  line-height: 1.6;
  transition: background 0.5s;
  padding: 5px 15px;
  word-wrap: break-word;
}

.alert-button:focus {
  outline: 0;
}

.error-bg {
  background: #d85261;
}

.success-bg {
  background: #2dd284;
}

.warning-bg {
  background: #fada5e;
}

.info-bg {
  background: #88cef7;
}

.error-btn:hover {
  background: #e5a4b4;
}

.success-btn:hover {
  background: #6edaa4;
}

.warning-btn:hover {
  background: #fcecae;
}

.info-btn:hover {
  background: #c3e6fb;
}
